@import url('./Gilroy/stylesheet.css');
@import url('./Nekst/stylesheet.css');

// Colors
$bg-color: #122738;
$dot-color: hsl(256, 33, 70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
  font-family: -apple-system, Nekst, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}
