.wrapper {
  font-family: sans-serif;
  display: grid;

  gap: 2rem;
  margin: 0 auto;
  padding: 15px;
}

@media only screen and (min-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
