.card {
  height: 300px;
  width: 300px;
  background-color: #e1efff;
  border-radius: 5px;
  overflow: hidden;
  &__img {
    object-fit: cover;
    aspect-ratio: 1.5;
  }

  &__textContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 10px;
  }

  &__title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    & > .rate {
      font-weight: normal;
    }
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttons {
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    &_rate {
      background-color: #a5ff90;
      border-radius: 5px;
      padding: 8px;
    }

    &_fav {
      background-color: #f9e86f;
      border-radius: 5px;
      padding: 8px;
    }
  }
}
